.Rproj.user
.Rhistory
*.RData
*.Rproj
*.log
*.out
*.synctex.gz
*.aux
.directory
*.toc
*.tex.bak
Data/
*.spyderworkspace
*.spyderproject
LaTeX/cache/
*concordance.tex
LaTeX/figure
*.RDataTmp
*.rds
*.RDS
*.nav
*.snm
*.bbl
*.blg
*.cpt
*~
LaTeX/mini/
Tmp/Ryciakowa_praca/*
/Papers/Statystyczne Systemy Uczace - Koronacki, Cwik.pdf
*.ipynb_checkpoints*
*.wav
