.Rproj.user
.Rhistory
*.RData
*.Rproj
*.log
*.out
*.synctex.gz
*.aux
.directory
*.toc
*.tex.bak
Data/
*.spyderworkspace
*.spyderproject
LaTeX/cache/
*concordance.tex
LaTeX/figure
*.RDataTmp
*.rds
*.RDS
